.dialogs {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 1rem;
   &-menu {
      list-style-type: none;
      font-weight: bold;
      border-right: 1px solid black;
      padding-right: 1.2rem;
   }
   .messages {
      margin-left: 4rem;
      width: 100%;
   }
   .active {
      background-color: #e0a8e4;
      color: aliceblue;
   }
}
